*.env
*.vscode
*node_modules
node_modules/
*dist
*package-lock.json

# Logs
logs
*.log
npm-debug.log*

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
